.scr_layout {
    text-align: center;
    width: 100%;
    height: 100%;
    /*background: whitesmoke;*/
    /*background: #020033;*/
    background: #1b232a;

}

.scr_title {
    padding-top: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #617b91;
    width: 22%;
    height: 10%;
}

.scr_subtitle {
    font-family: "HY강M";
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    height: 2%;
    color: #617b91
}

.scr_number {
    margin-right: 10px;
    /*margin-right: -1%;*/
}

.scr_contents {
    /*background: blue;*/
    height: 600px;
    /*width: 1500px;*/
}

.scr_footer {
    bottom: 100px;
}


.hit_btn {
    font-family: "HY강M";
    background: #ffe000;
    color: #617b91;
    border-color: #f5fff0;
    border-radius: 5px;
    margin-right: 5px;
    transition: all 0.7s ease-out;
    height: 50px;
}

.hit_btn:hover {
    height: 50px;
    font-family: "HY강M";
    background: honeydew;
    color: #c8cd3f;
    border-color: #f5fff0;
    transition: all 0.7s ease-out;
}
