.frame_layout {
    display: inline-block;
    width: 100px;
    height: 90px;
    border: 1px solid #021e2f;
    margin-top: -4px;
}
.frame_top {
    height: 50%;
    float: top;
    border-bottom: 1px solid #021e2f;
    line-height: 45px;
    box-sizing: border-box;
    background: #ffe000;
}
.frame_bottom {
    height: 50%;
    float: bottom;
    line-height: 45px;
    box-sizing: border-box;
    background: #34b6e5;
}

.frame_top_left {
    width: 50%;
    height: 100%;
    float: left;
    /*line-height: 45px;*/
    box-sizing: border-box;
    text-align: center;
    background: #ffe000;
    border-right: 1px solid #021e2f;
}

.frame_top_right {
    width: 50%;
    float: right;
    height: 100%;
    /*line-height: 45px;*/
    box-sizing: border-box;
    background: #ffe000;
    /*border: 1px solid black;*/
}

.frame_top_first {
    width: 33%;
    float: left;
    height: 100%;
    box-sizing: border-box;
    background: #ffe000;
    border-right: 1px solid #021e2f;
    /*border: 1px solid black;*/
}

.frame_top_second {
    width: 33%;
    float: left;
    height: 100%;
    box-sizing: border-box;
    background: #ffe000;
    border-right: 1px solid #021e2f;
    /*border: 1px solid black;*/
}

.frame_top_third {
    width: 34%;
    float: right;
    height: 100%;
    box-sizing: border-box;
    background: #ffe000;
    /*border: 1px solid black;*/
}