/*.layout {*/
/*    float:left;*/
/*    width: 1500px;*/
/*    height: 200px;*/
/*    background: deeppink;*/
/*    display: inline-block;*/
/*}*/

/*.left {*/
/*    float: left;*/
/*    width: 300px;*/
/*    height: 100px;*/
/*    background: #BDBDBD;*/
/*    display: inline-block;*/
/*}*/

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.turn_normal {
    /*font-family: neon;*/
    color: #617b91;
    font-size: 5vw;
    line-height: 5vw;
    margin-left: 75px;
    text-shadow: 0 0 3vw #617b91;
    float: left;
    width: 325px;
    height: 100px;
    /*background: #BDBDBD;*/
    /*background: blue;*/
    display: inline-block;
}

.turn_active {
    /*font-family: neon;*/
    font-size: 5vw;
    line-height: 5vw;
    margin-left: 75px;
    /*color: #FB4264;*/
    /*text-shadow: 0 0 3vw #F40A35;*/
    color:#ffe000;
    /*text-shadow: 0 0 3vw #f4cd0a;*/
    float: left;
    width: 325px;
    height: 100px;
    /*background: #BDBDBD;*/
    /*background: blue;*/
    display: inline-block;
}

.turn_active {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
    0%,
    100% {
        /*text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;*/
        /*text-shadow: 0 0 1vw #ffe000, 0 0 3vw #ffe000, 0 0 10vw #ffe000, 0 0 10vw #ffe000, 0 0 .4vw #FFD128, .5vw .5vw .1vw #FFD128;*/
        /*color: #fed128;*/
        /*color: aquamarine;*/
        color: #DAE6E6;
    }
    50% {
        text-shadow: 0 0 1vw #ffe000, 0 0 3vw #ffe000, 0 0 10vw #ffe000, 0 0 10vw #ffe000, 0 0 .4vw #FFD128, .5vw .5vw .1vw #FFD128;
        /*text-shadow: 0 0 .5vw #FFD128, 0 0 1.5vw #FFD128, 0 0 5vw #FFD128, 0 0 5vw #FFD128, 0 0 .2vw #ffe000, .5vw .5vw .1vw #ffe000;*/
        /*text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;*/
        /*color: #806914;*/
        color: #DAE6E6;
    }
}

.top {
    width:1500px;
    height: 100px;
    background: #4cff00;
    display: inline-block;
}

.contents {
    width: 1050px;

    height: 150px;
    /*margin-left: 200px;*/
    /*background: #fff200;*/
    /*background: blue;*/
    /*background: white;*/
    display: inline-block;
}

.total_box {
    font-family:"HY강M";
    display: inline-block;
    width: 100px;
    height: 85px;
    line-height: 90px;
    margin-right: 50px;
    font-size: 30px;
    color: white;
    float: right;
    border: 1px solid #303c46;
}

.rank_box {
    font-family:"HY강M";
    display: inline-block;
    width: 100px;
    height: 85px;
    line-height: 90px;
    margin-right: 150px;
    font-size: 30px;
    color: white;
    float: right;
    /*border: 1px solid #303c46;*/
}