/*.layout {*/
/*    float:left;*/
/*    width: 1500px;*/
/*    height: 200px;*/
/*    background: deeppink;*/
/*    display: inline-block;*/
/*}*/

/*.left {*/
/*    float: left;*/
/*    width: 300px;*/
/*    height: 100px;*/
/*    background: #BDBDBD;*/
/*    display: inline-block;*/
/*}*/

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.turn_normal {
    /*font-family: neon;*/
    color: #FB4264;
    font-size: 5vw;
    /*line-height: 5vw;*/
    margin-left: 200px;
    text-shadow: 0 0 3vw #F40A35;
    float: left;
    width: 100px;
    height: 100px;
    /*background: #BDBDBD;*/
    display: inline-block;
}

.turn_active {
    /*font-family: neon;*/
    color: #FB4264;
    font-size: 5vw;
    line-height: 3vw;
    margin-left: 275px;
    text-shadow: 0 0 3vw #F40A35;
    float: left;
    width: 100px;
    height: 100px;
    /*background: #BDBDBD;*/
    /*background: blue;*/
    display: inline-block;
}

.turn_active {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
        /*color: #fed128;*/
        color: aquamarine;
    }
    50% {
        text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
        /*color: #806914;*/
        color: cadetblue;
    }
}

.top {
    width:1500px;
    height: 100px;
    background: #4cff00;
    display: inline-block;
}

.contents {
    width: 1050px;
    height: 150px;
    /*margin-left: 200px;*/
    /*background: #fff200;*/
    /*background: blue;*/
    /*background: white;*/
    display: inline-block;
}

.total_box {
    display: inline-block;
    width: 100px;
    height: 90px;
    margin-right: 325px;
    float: right;
    border: 1px solid black;
}